@import 'tailwindcss';
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url(./ant-reset.css);

/* 自定义样式 */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* // 全局滚动条美化，兼容 Windows 和 macOS，仿 macOS 效果
// Webkit 浏览器（Chrome, Edge, Safari 等） */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
  transition: background 0.2s;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 8px;
  transition: background 0.2s;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* // 鼠标悬停或滚动时显示 */
:hover::-webkit-scrollbar-thumb,
:focus::-webkit-scrollbar-thumb,
:active::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.18);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* // 隐藏 Windows 下的滚动条三角符号 */
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

/* // Firefox 浏览器 */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0) transparent;
}

*:hover,
*:focus,
*:active {
  scrollbar-color: rgba(0, 0, 0, 0.18) transparent;
}
